<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Key Maker</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <!--Pulling Awesome Font -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body data-gr-c-s-loaded="true" class="">
    <div class="container">
        <div class="container">
            <h1>Welcome to key generator</h1>
            <h4>Generating keys for your every lock.</h4>
            <hr>
        </div>
        <div class='row' id="generateOTP">
            <div class='col-sm-12'>
                <form id="generateOtp" name="generateOTP" method="post" style="padding:12px">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="email" placeholder="Enter Email" maxlength="50">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <button type="submit" class="btn btn-primary" id="fetch">Generate OTP</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="validateOTP">
            <form id="validateOtp" name="validateOtp" method="post" style="padding:12px">
                <fieldset>
                    <div class="row">
                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <input type="text" name="otpnum" id="otpnum" class="form-control" required="true"
                                    autofocus="true" placeholder="Enter OTP" />
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-primary btn-block" value="Submit" />
                        </div>
                        <div class="col-md-9">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="row" id="generateAuthkey">
            <form id="authKey" name="authKey" method="post" style="padding:12px">
                <input type="submit" class="btn btn-primary btn-block" value="Generate Auth Key">
            </form>
        </div>
    </div>

    <div id="footer">
        <div class="col-md-12" style="text-align: center; padding:10px">
            <ul class="social-network social-circle">
                <li><a href="https://github.com/neo7337" class="icoGithub" title="Github"><i
                            class="fa fa-github"></i></a></li>
                <li><a href="https://stackoverflow.com/users/5894292/neo73" class="icoStackoverflow"
                        title="Stackoverflow"><i class="fa fa-stack-overflow"></i></a>
                </li>
                <li><a href="https://twitter.com/adityak007mr" class="icoTwitter" title="Twitter"><i
                            class="fa fa-twitter"></i></a></li>
                <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=adityak007mr@gmail.com&su=SUBJECT&body=BODY"
                        class="icoEmail" title="Google +"><i class="fa fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/adi-kumar/" class="icoLinkedin" title="Linkedin"><i
                            class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Generated Auth Key</h5>
                </div>
                <div class="modal-body">
                    <p id="key"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modalClose">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("validateOTP").style.display = "none";
        document.getElementById("generateAuthkey").style.display = "none";

        $("#generateOtp").submit(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            var data = 'email=' + $("#email").val();
            //alert(data);
            if (undefined !== $("#email").val() && $("#email").val() !== null && $("#email").val() !== '') {
                $.ajax({
                    type: "GET",
                    url: "/generateOTP",
                    data: data,
                    dataType: 'text',
                    cache: false,
                    timeout: 600000,
                    success: function (response) {
                        if (response === "Success") {
                            alert("OTP Sent successfully");
                            document.getElementById("validateOTP").style.display = "block";
                            document.getElementById("generateOTP").style.display = "none";
                        } else {
                            alert(response);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Please enter the respective Email ID");
            }

        });

        $("#validateOtp").submit(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            var data = 'otpnum=' + $("#otpnum").val();
            //alert(data);
            if (undefined !== $("#email").val() && $("#email").val() !== null && $("#email").val() !== '') {
                $.ajax({
                    type: "GET",
                    url: "/validateOtp",
                    data: data,
                    dataType: 'text',
                    cache: false,
                    timeout: 600000,
                    success: function (response) {
                        if (response.split(',')[0] === 'Success') {
                            alert("OTP Validated successfully")
                            //document.getElementById("generateAuthKey").style.display = "block";
                            $('#exampleModalCenter').modal('show');
                            $('#key').text(response.split(",")[1]);
                        } else {
                            alert("OTP Invalid. Please Enter a valid OTP to generate AuthKey");
                        }
                        //alert(response);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            } else {
                alert("Please enter an OTP for validation");
            }
        });

        $("#authkey").submit(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();
            data = '';
            //alert(data);
            $.ajax({
                type: "GET",
                url: "/authkeyGenerate",
                data: data,
                dataType: 'text',
                cache: false,
                timeout: 600000,
                success: function (response) {
                    alert(response);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });

        $('#modalClose').click(function () {
            window.location.href = '/';
            return false;
        });
    });
</script>

</html>